.map-marker-title {
  white-space: nowrap;
  padding: 6px 16px;
  background: #fff;
  border-radius: 3px;
  // box-shadow:0px 10px 16px 4px rgba(45, 140, 240,.2);
  position: absolute;
  font-size: 12px;
  transform: translateY(-100%);
  top: 7px;
  left: 0;
}
